// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #8fd9a8;
$gray: #0E0000;
$light-gray: #F4F4F4;

$pastel-blue: #8ab6d6;
$pastel-pink: #fbbedf;
$pastel-orange: #f6ab6c;
$pastel-yellow: #f6efa6;
$pastel-green: #8fd9a8;
$pastel-purple: #949cdf;


