.contact-us-container {
	border: 1px solid rgb(176, 176, 176) !important;
	max-width: 870px;
	min-height: 475px;
	margin-top: 90px !important;
    margin-bottom: 32px !important;
	width: 100% !important;
	background-color: white;
	position: relative !important;
	padding: 45px;
	border-radius: 12px;
}