.relations-avatars-container {
	background-color: white;
	// padding: 30px;
	display: flex;
	border-radius: 8px;
	text-align: center;
	margin-right: 10px;
}


.dashboard-upcoming-birthdays {
	background-color: white;
	padding-left: 50px;
	padding-top: 20px;
	margin-right: 10px;
}

.upcoming-holidays {
	background-color: white;
	padding: 20px 100px 20px 40px;
	border-radius: 8px;
	margin-right: 20px;
}


.dash-user-menu {
	background-color: white;
	margin-bottom: 30px;
	margin-right: 20px; 
}