.login-form {
	border: 1px solid rgb(176, 176, 176) !important;
	max-width: 570px;
	min-height: 475px;
	margin-top: 50px !important;
    margin-bottom: 32px !important;
	width: 100% !important;
	background-color: white;
	position: relative !important;
	padding: 45px;
	border-radius: 12px;
	top: 40px;
}

.signup-form {
	border: 1px solid rgb(176, 176, 176) !important;
	max-width: 570px;
	min-height: 475px;
	margin-top: 60px !important;
    margin-bottom: 32px !important;
	width: 100% !important;
	background-color: white;
	position: relative !important;
	padding: 45px;
	border-radius: 12px;
}

.forgot_password {
	border: 1px solid rgb(176, 176, 176) !important;
	max-width: 570px;
	min-height: 475px;
	margin-top: 60px !important;
    margin-bottom: 32px !important;
	width: 100% !important;
	background-color: white;
	position: relative !important;
	padding: 45px;
	border-radius: 12px;
}

.edit_user {
	border: 1px solid rgb(176, 176, 176) !important;
	max-width: 770px;
	min-height: 475px;
	margin-top: 80px !important;
    margin-bottom: 32px !important;
	width: 100% !important;
	background-color: white;
	position: relative !important;
	padding: 45px;
	border-radius: 12px;
}