.relation-profile-container {
	max-width: 870px;
	min-height: 475px;
	margin-top: 90px !important;
    margin-bottom: 32px !important;
	width: 100% !important;
	background-color: white;
	position: relative !important;
	padding-left: 100px;
	li {
		list-style: none;
	}
	
}

