<div class="footer">
  <div class="footer-links">
    <a href="www.instagram.com/gyftwrapped"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright GyftWrapped 2021
  </div>
</div>