<div class="container text-center about-us-container">
	  <h2>About us</h2>
	<div class="card-category pastel-cards blue-bkg">
  <p>Make <strong>gift giving</strong> a hassle of the past. With our proprietary gifting service, we are able to select personalized gifts for anyone you wish. Be it <strong>family members, friends or colleagues</strong>, we can help you find the <strong>perfect gift</strong> just in time!</p>
</div>
	

	<%= link_to "Meet our team", contact_path %>
</div>

