<div class="container text-center contact-us-container">

	<h2>Meet our team</h2>
	<ol>
	  <% @members.each do |member| %>
	    <li><%= member.capitalize %></li>
	  <% end %>
	</ol>

	<%= link_to "Know more about our company", about_path %>
</div>
