<!-- <div class="home-banner" style="background-image: url(<%= asset_url 'home-banner.png' %>);">
  <div class="banner-content">
    <h1>Gyft Wrapped</h1>
  </div>
</div> -->


<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= asset_url 'home-banner.png' %>);">
  <div class="banner-content">
    <h1>Welcome to Gift Wrapped</h1>
    <p>Very cool stuff, useful and smart</p>
    <div class="top">
      <a class="topArrow"><i class="fa fa-angle-down fa-inverse fa-5x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 50 %>
    </div>
  </div>
</div>