.card-category {
  background-size: cover;
  background-position: center;
  height: 450px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 24px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.pastel-cards {
  height: 200px;
  margin: 50px 40px 10px 40px;
  padding: 40px 40px 40px 40px;
  // display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 24px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p {
    font-size: 16px;
    padding-top: 5px;
  }
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



.blue-bkg {
  background-color: $pastel-blue;
  h3, p{
    color: #2d6187;

  }
}

.pink-bkg {
  background-color: $pastel-pink;
  h3, p {
    color: #a9294f;
  }
}

.green-bkg {
  background-color: $pastel-green;
    h3, p {
    color: #276678;
  }
}
